body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: black;
    background-size: cover;
}
.namebox{
    float: left;   
    background-color: #4aaaa5;
    width: 180px;  
    color:white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px; 
    padding: 20px;
    margin: 0px 0px 0px -8px;
}
.pagetitle{
    clear: both;
    overflow: auto;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px; 
    padding: 20px;
}

header{
    width:100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    background-color:#ffffff;
    z-index:2;
    min-width: 523px;
}

.buttonbox{
    float:right;
    position: relative;
    margin-right: 0;
    background-color: #ffffff;
    padding-left: 0px;
    padding-top: 20px;
    height: 48px;
}

.buttoncontainer {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px; 
    width: 80px;
    height: 10px;
    border-right-style: solid;
    border-right-color: #cccccc;
    border-right-width:1px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content{
    color:#777777;
    margin: 0 auto;
    background-color: #ffffff;
    width: 960px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    margin-top:100px;
    margin-bottom: 100px;
    padding-right: 20px;
    overflow:auto;
}

.thinline{
    float: left;
    width: 100%;
    Height: 3px;
    background-color:#4aaaa5;
}

#topgraylinecontainer{
    position: relative;
    margin: 0 auto;
    top:0px;
    Left: 0px;
    Height: 3px;
    width:920px;

}
.grayline{
    z-index: 1;
    margin:0 auto;
    width:920px;
    Height: 3px;
    background-color:#cccccc;  
}
Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    margin-top: 40Px;
    background-color:#666666;
    Width: 100%;
    Height: 40px;
    color: white;
}

.piclabel{
    float: left;
    position: relative;
    height: 50px;
    width:150px;
    text-align: center;
    height: 30px;
    margin-left: 20px;
    margin-bottom: -250px;
}
.piclabel span{
    position: absolute;
    top: 98px;
    Left: 0px;
    background-color: #4aaaa5;
    Color: white;
    text-align: center;
    height: 20px;
    width: 130px;
    padding: 10px;

}
img{
    float:left;

}

.pic-container{
    float:left;
    height: 150px;
    width: 150px;
    padding: 20px;

}

input[type=text], select {

    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ccc

}

input[type=submit], select {
    margin-bottom: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100px;
    height: 40px;
}


#emailform {
    margin-left:20px;

}


@media screen and (max-width: 980px) {

    .buttonbox{
        float: right;
        Top: 0;
        margin-right: 0;
        background-color: #ffffff;
        padding-left: 0px;
        padding-right: 20px;
        padding-top: 20px;
        height: 48px;
    
    }

    .namebox{
        float: left;   
        background-color: #4aaaa5;
        width: 180px;  
        color:white;
        font-family: 'Georgia', Times, Times New Roman, serif;
        font-size: 24px; 
        padding: 20px;
        margin: 0px 0px 0px -8px;
    }

    /*.headerwrapper {
        width: 768px;
        margin-left: auto;  
        margin-right: auto; 
        margin-bottom: 20px;
    
    }*/

    .buttoncontainer {
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        padding: 8px; 
        width: 40px;
        height: 10px;
        border-right-style: solid;
        border-right-color: #ffffff;
        border-right-width:1px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    .content{
        color:#777777;
        margin: 0 auto;
        background-color: #ffffff;
        width: 600px;
        border-style: solid;
        border-color: #cccccc;
        border-width: 1px;
        margin-top:100px;
        margin-right: 50px;
        margin-bottom: 50px;
        padding-right: 20px;
        /* overflow:auto; */
    }
#indexparagraph {
    padding:20px;

}

#topgraylinecontainer{
    position: relative;
    margin: 0 auto;
    top:0px;
    Left: 0px;
    Height: 3px;
    width: 900px;

}

.pagetitle{
    clear: both;
    overflow: auto;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px; 
    padding-top: 50px;
    padding: 20px;
    width: 900px;
}
}
@media screen and (max-width: 768px) {

    .buttonbox{
        float: right;
        Top: 0;
        margin-right: 0;
        background-color: #ffffff;
        padding-left: 0px;
        padding-right: 20px;
        padding-top: 20px;
        height: 48px;
    
    }

    .namebox{
        float: left;   
        background-color: #4aaaa5;
        width: 180px;  
        color:white;
        font-family: 'Georgia', Times, Times New Roman, serif;
        font-size: 24px; 
        padding: 20px;
        margin: 0px 0px 0px -8px;
    }

    /*.headerwrapper {
        width: 768px;
        margin-left: auto;  
        margin-right: auto; 
        margin-bottom: 20px;
    
    }*/

    .buttoncontainer {
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        padding: 8px; 
        width: 40px;
        height: 10px;
        border-right-style: solid;
        border-right-color: #ffffff;
        border-right-width:1px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    .content{
        color:#777777;
        margin: 0 auto;
        background-color: #ffffff;
        width: 600px;
        border-style: solid;
        border-color: #cccccc;
        border-width: 1px;
        margin-top:100px;
        margin-right: 50px;
        margin-bottom: 50px;
        padding-right: 20px;
        /* overflow:auto; */
    }
#indexparagraph {
    padding:20px;

}

#topgraylinecontainer{
    position: relative;
    margin: 0 auto;
    top:0px;
    Left: 0px;
    Height: 3px;
    width: 600px;

}

.pagetitle{
    clear: both;
    overflow: auto;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px; 
    padding-top: 50px;
    padding: 20px;
    width: 728px;
}
}

@media screen and (max-width: 640px) {


    .buttonbox{
        float: right;
        Top: 0;
        margin-right: 0;
        background-color: #ffffff;
        padding-left: 0px;
        padding-right: 20px;
        padding-top: 20px;
        height: 48px;
    
    }

    .namebox{
        float: left;   
        background-color: #4aaaa5;
        width: 180px;  
        color:white;
        font-family: 'Georgia', Times, Times New Roman, serif;
        font-size: 24px; 
        padding: 20px;
        margin: 0px 0px 0px -8px;
    }


    /*.headerwrapper {
        width: 640px;
        margin-left: auto;  
        margin-right: auto; 
        margin-bottom: 20px;
    
    }*/

    .buttoncontainer {
        float: left;
        margin-left: 20px;
        padding: 8px; 
        width: 40px;
        height: 10px;
        border-right-style: solid;
        border-right-color: #ffffff;
        border-right-width:1px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    .content{
        color:#777777;
        margin: 0 auto;
        background-color: #ffffff;
        width: 500px;
        border-style: solid;
        border-color: #cccccc;
        border-width: 1px;
        margin-top:100px;
        margin-right: 50px;
        margin-bottom: 50px;
        padding-right: 20px;
        overflow:auto;
    }
#indexparagraph {
    padding:20px;

}

#topgraylinecontainer{
    position: relative;
    margin: 0 auto;
    top:0px;
    Left: 0px;
    Height: 3px;
    /* width: 50px; */

}

.pagetitle{
    clear: both;
    overflow: auto;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px; 
    padding-top: 50px;
    padding: 20px;
    width: 500px;
}

}